.container-fluid {
    margin: 0;
    padding: 0;
}

.jumbotron {
    background: url("../images/backgrounds/h_img.jpg");
    background-size: cover;
    color: white;
    font-family: 'Merriweather';  
}

#slogan{
    margin-top: 20px;
    padding: 0px 20px;
}

#mouse, #logo{
    margin-top: 100px;
    padding-top: 50px;
}

.about-us, .services, {
    font-family: 'Slabo 27px';
    font-size: 18px;
    line-height: 1.8;
}

.what-we-do{
    margin: 40px auto;
} 

h3{
    font-weight: bold;
}

.portfolio{
    margin-bottom: 80px;
}

#work1 {
    background-image: url("../images/portfolio/work1.jpg");
}
  
#work2 {
    background-image: url("../images/portfolio/work2.jpg");
}
  
#work3 {
    background-image: url("../images/portfolio/work3.jpg");
}
  
#work4 {
    background-image: url("../images/portfolio/work4.jpg");
}
  
#work5 {
    background-image: url("../images/portfolio/work5.jpg");
}
  
#work6 {
    background-image: url("../images/portfolio/work6.jpg");
}
  
#work7 {
    background-image: url("../images/portfolio/work7.jpg");
}

#work8 {
    background-image: url("../images/portfolio/work8.jpg");
}

.col-md-3{
    background-size: contain;
    background-repeat: no-repeat;
    border-color: white;
    height: 200px;
    width: 130px; 
}

.companyTitle{
    display: none;
    opacity: 0.8;
    background-color: #000;
    font-size: 30px;
    padding-top: 30px;
    height: 100%;
    width: 86%;
    color: #FF00FF;
}

.hoverElement {
    width: 50px;
    height: 200px;
    margin-bottom: 20px;
    padding: 0;
}

.title{
    font-weight: bold;
    padding: 10px;
}

.services{
    background-image: url("../images/backgrounds/s_image.jpg");
    padding: 40px;
    color: white;
    font-weight: 600;
}

.contact-us{
    background-image: url("../images/backgrounds/c_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;  
}

.imageSection > img {
    height: 80px;
    margin-bottom: 10px;
}

.imageSection:hover {
    cursor: pointer;
}

#display{
    color: white;
    font-size: 25px;
}

.form{
    width: 0 auto;
    display: inline-block;
    color: white;
}

textarea{
    resize: none;
    border: 1px solid white;
    margin-top: 30px;
    margin-bottom: 20px; 
}

#email, #name, #message{
    background: transparent;
    color: white;
}

.icons{
    margin-top: 40px;
}

.submitButton{
    margin-bottom: 30px;
}

