

.jumbotron{
    background: url("../images/backgrounds/h_img.jpg");
    color: white;   
}


.what-we-do{
    margin: 40px;
}  


.work1 {
    background-image: url("../images/portfolio/work1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-color: white;
    height: 250px;
    margin-left: -1px;
    
}

.work2 {
    background-image: url("../images/portfolio/work2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    
}

.work3 {
    background-image: url("../images/portfolio/work3.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    
    
}

.work4 {
    background-image: url("../images/portfolio/work4.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
   
}

.work5 {
    background-image: url("../images/portfolio/work5.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
  
}

.work6 {
    background-image: url("../images/portfolio/work6.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
  
  
}

.work7 {
    background-image: url("../images/portfolio/work7.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
   
   
}

.work8 {
    background-image: url("../images/portfolio/work8.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;

}



#slogan{
    margin: 20px;
    padding: 0px 20px;
}

#mouse{
    padding: 60px;
}


.services{
    background-image: url("../images/backgrounds/s_image.jpg");
    padding: 40px;
    color: white;
}

